body {
    background-color: #FAFAFA;
}


.logo {
    border-radius: 15%;
}

a { 
    color: inherit; 
} 

a:hover {
    color:rgb(127, 194, 130);
}

.header-text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(127, 194, 130);
    justify-content: center;
}

.header-title {
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.deal-pic{
    width: calc(100%);
    max-width: 10rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    align-items: stretch;
}

.carousel-pic {
    display: block;    
    aspect-ratio: 16/9; 
    object-fit: cover;
}

.sep {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    flex: 0 0 100%;
}

.navbar-active {
    background: rgb(127, 194, 130);
    border-radius: 1em;
}

.carousel-caption {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 1em;
}


#dealModal .modal-header {
    background-color: #707070;
    color: white; 
}

.site-footer {
    box-shadow: 0px -3px 3px #E0E0E0;
    background-image: linear-gradient(#dce9db, white);
    position: relative;
    
}